# Ignore bundler config.
.bundle

# Ignore the dependency lock file. This is the most important one.
Gemfile.lock

# Ignore Jekyll build output.
_site

# Ignore Jekyll cache files.
.jekyll-cache
.sass-cache

# Ignore other OS-specific files
*.DS_Store